<!DOCTYPE html>
<!--[if lte IE 8]><html class="old" lang="pt-br"> <![endif]-->
<!--[if IE 9]><html class="ie9" lang="pt-br"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="pt-br">
<!--<![endif]-->
<head>
	{{> head}}
	<title>{{title}} - Erro</title>
</head>

<body id="errorPage">

  <header>
		<div class="inner">
			<span class="font1">Cow Boilerplate</span>
			{{> nav}}
		</div>
	</header>
	<div class="container">
		<div class="inner">
			erro
		</div>
	</div>

  {{> footer}}
  {{> scripts}}
  {{> googleAnalytics}}
</body>
</html>
