<a href=# class="icon-sandwich"></a>
<nav class="top__nav">
  <a class="top__nav--item" title="section 1" href="section1.html">Seção 1</a>
  <a class="top__nav--item" title="section 2" href="section2.html">Seção 2</a>
  <a class="top__nav--item" title="section 3" href="section3.html">Seção 3</a>
</nav>
