/*---------------
TYPOGRAPHY
---------------
*/
/*Base font (defaults)*/
$fontFamily1: 'gothamblack', Arial, Verdana, Sans-Serif;
$fontFamily2: 'gothambold', Arial, Verdana, Sans-Serif;
$fontFamily3: 'gothambook', Arial, Verdana, Sans-Serif;
$fontFamily4: 'gothammedium', Arial, Verdana, Sans-Serif;
$fontFamily5: 'gothamlight', Arial, Verdana, Sans-Serif;

$fontSize1  : 14px;
$fontSize2  : 9px;
$fontSize3  : 12px;
$fontSize4  : 18px;
$fontSize5  : 22px;

/*
  COLORS
*/
$colorBaseRed: #e6292c;
$colorBaseDarkRed: #bf0e10;
$colorFbBlue: #3b55a0;
$colorTwBlue: #62c8f8;
$colorLight: #eeeeee;
$colorMedium: #a4a4a4;
$colorDarkLight: #797979;
$colorDark: #343434;
$colorMain: #dc0121;
$colorBgModal: #252525;
$colorBase: #83bd2a;
$colorWhite: #ffffff;
$colorBlack: #000000;


/*
  DIMENSIONS
*/
$min-mobile-width: 320px;
$max-desktop-width: 960px;

/*
  BREAK-POINTS: [ MOBILE ]
*/
$break-mobile-small: 360px;
$break-mobile-medium: 481px;
$break-mobile: 737px;

/*
  BREAK-POINTS: [ TABLET ]
*/
$break-tablet: 769px;

/*
  BREAK-POINTS: [ DESKTOP ]
*/
$break-table-large: 1024px;
