$font-family1: 'gothamblack', Arial, Verdana, Sans-Serif;
$font-family2: 'gothambold', Arial, Verdana, Sans-Serif;
$font-family3: 'gothambook', Arial, Verdana, Sans-Serif;
$font-family4: 'gothammedium', Arial, Verdana, Sans-Serif;
$font-family5: 'gothamlight', Arial, Verdana, Sans-Serif;

$font-size1: 14px;
$font-size2: 9px;
$font-size3: 12px;
$font-size4: 18px;
$font-size5: 22px;

//COLORS
$color-base-red: #e6292c;
$color-base-dark-red: #bf0e10;
$color-fb-blue: #3b55a0;
$color-tw-blue: #62c8f8;
$color-light: #eee;
$color-medium: #a4a4a4;
$color-dark-light: #797979;
$color-dark: #343434;
$color-main: #dc0121;
$color-bg-modal: #252525;
$color-base: #83bd2a;
$color-white: #fff;
$color-black: #000;
